.header {
  background: url('/images/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 0 -180px 80px -50px white inset;
}

.header-inner {
  padding-top: 300px;
}

.logo-line-before,
.logo-line-after {
  width: 100%;
}
